
<div style="display:flex; flex-direction: column; align-items:center; background-color: #fff; padding: 64px 48px; border-radius: 16px;">
    <h2 id="modal-title">Esse CAR possui alertas</h2>
    <p style="color: grey;">clique <a id="modal-link" href="www.google.com" target="_blank">aqui</a> para consultar</p>
    <div style="display: flex; width:100%; height:16px;"></div>
    <p>Deseja prosseguir mesmo assim?</p>
    <div style="display: flex; gap: 32px;">
        <button id="close-button" type="button" class="btn btn-secondary btn-md" aria-label="Close">CANCELAR</button>
        <button id="confirm-button" type="button" class="btn btn-primary btn-md" aria-label="Close" onc>PROSSEGUIR</button>
    </div>
</div>
