<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img class="carbon21-logo" src="/images/carbon21-logo.webp" alt="Carbon21 Logo" />
      Carbon21
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
      onload="alert('oi')"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <% if(title==="Home" && !currentUser){ %>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#top">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#features">Funcionalidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reforestation">Reflorestamento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logs"
            ><strong><u>Logs Transparentes</u></strong></a
          >
        </li>
        <% } %> <% if (currentUser) { %> <% if(title !=="Logs Transparentes"){ %>
        <li class="nav-item">
          <a class="nav-link" href="/logs">Logs Transparentes</a>
        </li>
        <% } %>

        <li class="nav-item">
          <a class="nav-link" href="/marketplace">
            Loja
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Minha Conta </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/wallet">Carteira</a></li>
            <li><a class="dropdown-item" href="/collection">Coleção</a></li>
            <li><a class="dropdown-item" href="/collectionCompensation">Compensações</a></li>
            <li><a class="dropdown-item" href="/transfer">Transferência</a></li>
            <li><a class="dropdown-item" href="/nft/requestspage">Solicitação NFT</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown" id="adminDropdown" hidden="true">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Aréa do Administrador </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/ft/mint">Emissão de FT</a></li>
            <li><a class="dropdown-item" href="/nft/mint">Emissão de NFT</a></li>
            <li><a class="dropdown-item" href="/nft/mintNFTCompensation">Emissão de NFT de Compensação</a></li>
            <li><a class="dropdown-item" href="/nft/frontrequests">Requisições de NFT</a></li>
            <li><a class="dropdown-item" href="/ft/mintFromNFT">Emissão Periodica</a></li>
          </ul>
        </li>
        <% } %> <% if (!currentUser) { %>
        <li class="nav-item">
          <a class="nav-link" href="/prelogin"><button type="button" class="btn btn-outline-success btn-sm">Entrar</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/presignup"><button type="button" class="btn btn-outline-success btn-sm">Registrar</button></a>
        </li>
        <% } %> <% if (currentUser) { %>
        <p class="mt-2 ms-3 me-1 username"><%= currentUser.split('@')[0] %></p>
        <li class="nav-item">
          <a class="nav-link" href="/logout"><button class="btn btn-outline-success btn-sm">Sair</button></a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
  <div id="flash" class="flash"><%- include("../partials/flash") %></div>
</nav>

<!-- Display admin functionalities if user is admin-->
<script>
  //get role from jwt
  const role = JSON.parse(atob(localStorage.token.split(".")[1])).role;
  console.log("role", role);

  //TODO isso deveria ser feito usando ejs!
  //show admin functionalities
  if (role === "admin") {
    if (typeof adminDropdown !== "undefined") adminDropdown.hidden = false;
  }
</script>