<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include("partials/head") %>
  <script src="/scripts/collectionCompensation.js"></script>

  <body onload="collectionCompensation()">
    <!-- Navbar -->
    <%- include("partials/navbar") %>

    <section id="wallet">
      <div class="container-fuid collection-container">
        <h1 class="collection-header">Minha Coleção</h1>
        <div id="nft-showroom" class="overflow-hidden"></div>
        <img id="loader" class="loading-icon" src="../images/loader.gif" style="display: flex; margin: auto; width: 20%" />
      </div>
    </section>
  </body>
</html>
