<!-- Home Page -->

<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include("partials/head") %>

  <body id ="top">

    <!-- Intro Section -->

    <section id="intro">

      <!-- Navbar -->

      <%- include("partials/navbar") %>

      <!-- Hero -->

      <div id="hero" class="hero">
        
        <div class="hero-text">
          <h1 class="hero-title">Carbono 21</h1>
          <h3 class="hero-description" >Somos uma plataforma de tokenização que busca incentivar o reflorestamento e promover a sustentabilidade. Registre parte ou a totalidade de suas terras para fins de plantio e preservação recebendo em troca um NFT.</p>
          <a class="documentation" href="#"><button type="button" class="btn btn-outline-light btn-md doc-btn">Docs</button></a>
        </div>
          
      </div>

    </section>

    <!-- Features section -->

    <section id="features">

      <div class="container-fluid">

        <h1 class="features-header">Funcionalidades</h1>

        <div class="row feature">
          <div class="col-md-6 feature-img-container">
            <img class="feature-image" src="./images/ft-feature.webp" alt="" />
          </div>
          <div class="col-md-6 feature-text-container">
            <h2 class="feature-title">Tokens Fungíveis</h2>
            <p class="feature-description">
              Os NFTs de nossa plataforma rendem periodicamente uma quantidade de tokens fungíveis (C21) proporcionais à área correspondente. Estes podem ser utilizados para negociação de bens de consumo e pagamento de serviços pelo usuário.
            </p>
          </div>
        </div>

        <div class="row feature">
          <div class="col-md-6 order-2 order-md-1 feature-text-container">
            <h2 class="feature-title">Compensação Ambiental</h2>
            <p class="feature-description">
              Cada NFT tem associado a si um direito de compensação ambiental, o qual pode ser utilizado para compensar impactos de empreendimentos que envolvam cortes de árvores do mesmo bioma.
            </p>
          </div>
          <div class="col-md-6 order-1 order-md-2 feature-img-container">
            <img class="feature-image" src="./images/compensation.webp" alt="" />
          </div>

        </div>

      </div>
    </section>

    <!-- Reforestation section -->

    <section id="reforestation">

      <div class="container-fluid">

        <h1 class="reforestation-header">Benefícios do Reflorestamento</h1>

        <div class="row">
          <div class="col-md-4 benefit">
            <i class="benefit-icon fa-solid fa-droplet fa-4x"></i>
            <p class="benefit-description">
              As florestas tem participação fundamental na manutenção do ciclo da água e, portanto, no suprimento de recursos hidricos e redução da pressão sobre ecossistemas aquáticos.
          </div>
          <div class="col-md-4 benefit">
            <i class="benefit-icon fa-solid fa-temperature-half fa-4x"></i>
            <p class="benefit-description">
              O reflorestamento ajuda a desacelerar o processo de mudanças climáticas, além de reduzir seus efeitos desastrosos por meio da captação de dióxido de carbono.
          </div>
          <div class="col-md-4 benefit">
            <i class="benefit-icon fa-solid fa-crow fa-4x"></i>
            <p class="benefit-description">
              Promover o reflorestamento é essencial para proteção de espécies sob risco de extinção e para a restauração dos mais diversos ecossistemas ao redor do globo.
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 benefit">
            <i class="benefit-icon fa-solid fa-heart-pulse fa-4x"></i>
            <p class="benefit-description">
              O plantio de árvores ajuda a promover melhoria na qualidade de vida das pessoas, reduzindo a incidência de doenças cardiorrespiratórias.
          </div>
          <div class="col-md-6 benefit">
            <i class="benefit-description fa-solid fa-handshake fa-4x"></i>
            <p class="benefit-description">
              Empresas que seguem modelos de negócio levando em conta aspectos como Meio Ambiente, Responsabilidade Social e Governança são mais bem vistas no mercado. 
          </div>
        </div>


      </div>

    </section>

    <!-- Promoters Section -->

    <section class="" id="promoters">

      <h1 class="promoters-header">Promoters</h1>

      <div id="promoters-carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active container-fluid">
            <img class="promoter-image" src="images/usp.webp" alt="dog-profile">
          </div>
          <div class="carousel-item container-fluid">
            <img class="promoter-image" src="images/udesc.webp" alt="lady-profile">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#promoters-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#promoters-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

</section>

    <!-- Footer section -->

    <section id="footer">
      <footer id="footer">
        <div class="container-fluid">
          <a href="#"><i class="social-icon fa-brands fa-twitter"></i></a>
          <a href="#"><i class="social-icon fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="social-icon fa-brands fa-instagram"></i></a>
          <a href="#"><i class="social-icon fa-solid fa-envelope"></i></a>
          <p>© Copyright Carbon21</p>
        </div>
        <div class="img-credit mt-5">
          <a href="https://br.freepik.com/fotos-gratis/agricultura-inteligente-iot-com-fundo-de-arvore-de-plantio-a-mao_17121716.htm#page=20&query=planting&position=34&from_view=search&track=sph">Imagem de rawpixel.com</a> no Freepik
        </div>
        <div class="img-credit">
          <a href="https://br.freepik.com/fotos-gratis/dia-mundial-do-habitat-imagem-em-close-de-uma-pilha-de-moedas-e-uma-cunha-de-moeda_10401562.htm#page=5&query=coins&position=1&from_view=search&track=sph">Imagem de jcomp</a> no Freepik
        </div>
        <div class="img-credit">
          <a href="https://www.freepik.com/free-photo/close-up-picture-hand-passing-sapling-plant-another-hand_10992190.htm#query=tree%20planting&position=8&from_view=keyword">Imagem de jcomp</a> on Freepik
        </div>
        <div class="img-credit">
          <a href="https://br.freepik.com/fotos-gratis/tiro-vertical-do-foret-de-soignes-belgica-bruxelas-com-o-sol-brilhando-atraves-dos-galhos_8408998.htm#page=2&query=forest&position=1&from_view=search&track=sph">Imagem de wirestock</a> no Freepik
        </div>   
      </footer>
    </section>

  </body>
</html>
