<!-- Login Page -->

<!DOCTYPE html>
<html lang="en" dir="ltr">


<%- include("partials/head") %>
  <body>
    

    <!-- Navbar -->

    <%- include("partials/navbar") %>

      <!-- Login Section -->

      <section id="login">

        <div class="container-fluid">
          <div class="register-form card shadow">

            <form action="" method="POST" onsubmit="login()">
              <div class="row">

                <div class="data-col col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                  <h2 class="login-header">Acessar a plataforma</h2>

                  <div class="row login-data">
                    <div class="row-md-6 row-lg-6 form-group">
                      <input type="password" name="password" id="password" class="form-control" placeholder="Senha" required/>
                    </div>
                    <a href="#!" class="mt-2">Esqueceu sua senha?</a>
                  </div>

                  <!-- oninput="const initTime=performance.now();argon2.hash({ pass: password.value, salt: salt.value.slice(0, -1), hashLen: 32, type:argon2.ArgonType.Argon2id, time: 3, mem:16384, parallelism: 1 }).then(h =>
                      hashedPassword.value = h.hashHex).then(()=>hashTime.value=performance.now()-initTime).catch(e => console.error(e.message, e.code));" -->

                  <!--get email, pass it to the server again -->
                  <input type="text" name="email" id="email" hidden value=<%= email %>/>

                  <!--get salt, use it on client's PHS -->
                  <input type="text" name="salt" id="salt" hidden value=<%= salt %>/>

                  <!--each time the user type in the password field, update this with the hash of the input -->
                  <!-- <input type="password" name="hashedPassword" id="hashedPassword" hidden/> -->

                  <!--each time the user type in the password field, update this with the time it took to perform the hash -->
                <!-- <input type="text" name="hashTime" id="hashTime" hidden/> -->

                  <div class="login-button mt-4">
                    <button type="submit" class="btn btn-primary btn-lg">Entrar</button>
                  </div>
                </div>

                <div class="col-md-10 col-lg-6 col-xl-7 order-1 order-lg-2 carbon-logo-container">
                  <img src="../images/carbono21.webp" class="img-fluid carbon-logo" alt="Carbono 21 logo">
                </div>


              </div>
            </form>

          </div>
        </div>

        <script src="/scripts/bundles/argon2-bundled.min.js"></script>
        <script src="/scripts/validateForms.js"></script>
        <script src="/scripts/bundles/auth-bundle.js"></script>
        
  </body>

</html>