<!-- Request NFT Page -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include("partials/head") %>
  <script src="/scripts/bundles/requestNFT-bundle.js"></script>
  <body>
    <!-- Navbar -->
    <%- include("partials/navbar") %>
  
    <section id="mintFT">

      <div id="popup" class="popup-position" style="background-color: rgba(0,0,0,0.7); display: none; position: fixed; height:100%; width:100%; z-index:1000; align-items: center; justify-content: center;">
        <%- include("partials/modal") %>
      </div>
      
      <div class="container-fluid">
        <div class="row">
          <div class="col-4 image-container"></div>

          <div class="col-8 form-container">
            <h1 class="mint-header">Solicitação de NFT</h1>

            <form id="form" action="" method="POST" class="validated-form" enctype="multipart/form-data" onsubmit="requestNFT()">
              <div class="flex-fill">
                <div class="mint-data">
                  <i class="fas fa-user fa-lg"></i>
                  <input type="text" name="landOwner" id="landOwner" class="form-control" required />
                </div>
                <label class="form-label" for="landOwner">Insira o nome do proprietário da terra</label>
                <a class="d-inline-block" href="#" data-bs-toggle="tooltip" title="Se houver direitos de compensação, este também será o dono">
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="18" height="18" viewBox="0 0 24 24">
                    <path d="M 12 2 C 6.4889941 2 2 6.4889982 2 12 C 2 17.511002 6.4889941 22 12 22 C 17.511006 22 22 17.511002 22 12 C 22 6.4889982 17.511006 2 12 2 z M 12 4 C 16.430126 4 20 7.5698765 20 12 C 20 16.430123 16.430126 20 12 20 C 7.5698737 20 4 16.430123 4 12 C 4 7.5698765 7.5698737 4 12 4 z M 11 7 L 11 9 L 13 9 L 13 7 L 11 7 z M 11 11 L 11 17 L 13 17 L 13 11 L 11 11 z"></path>
                  </svg>
                </a>
              </div>

              <hr />


              <div class="flex-fill">
                <div class="mint-data">
                  <i class="fa-solid fa-id-card"></i>
                  <input type="text" name="cpf" id="cpf" class="form-control" required />
                </div>
                <label class="form-label" for="cpf">Insira o CPF do proprietário</label>
              </div>

              <hr />


              <div class="flex-fill">
                <div class="mint-data">
                  <i class="fas fa-book fa-lg"></i>
                  <input type="text" name="car" id="car" class="form-control" required />
                </div>
                <label class="form-label" for="car">Insira o CAR (Certificado Ambiental Rural)</label>
              </div>

              <hr />


              <div class="flex-fill">
                <div class="mint-data">
                  <i class="fas fa-leaf fa-lg"></i>
                  <input type="text" name="phyto" id="phyto" class="form-control" required />
                </div>
                <label class="form-label" for="phyto">Insira o bioma da área</label>
              </div>

              <hr />

              <div class="flex-fill">
                <div class="mint-data">
                  <i class="fa-solid fa-mountain-sun"></i>
                  <input type="text" name="basin" id="basin" class="form-control" required />
                </div>
                <label class="form-label" for="basin">Insira a bacia da área</label>
              </div>

              <hr />

              <div class="flex-fill">
                <div class="mint-data">
                  <i class="fa-solid fa-chart-area fa-lg"></i>
                  <input type="text" name="landArea" id="landArea" class="form-control" required />
                </div>
                <label class="form-label" for="area">Insira o tamanho da propriedade (hectares)</label>
              </div>

              <hr />

              <div class="flex-fill">
                <div class="mint-data">
                  <i class="fas fa-location-dot fa-lg"></i>
                  <input type="text" name="geolocation" id="geolocation" class="form-control" required />
                </div>
                <label class="form-label" for="location">Insira localização da área</label>
              </div>

              <div class="flex-fill">
                <div class="mint-data">
                  <i class="fa-solid fa-file-pdf"></i>
                  <input type="file" name="file" id="file" accept="application/pdf" style="margin-left: 0px ;"/>
                </div>
                <label class="form-label" for="location">Insira o certificado da área </label>
              </div>

              <div class="flex-fill">
                <div class="mint-data">
                  <i class="fa-solid fa-pen"></i>
                  <input type="text" name="userNotes" id="userNotes" class="form-control" />
                </div>
                <label class="form-label" for="location">Anotações</label>
              </div>
              

              <img id="loader" class="loading-icon" src="../images/loader.gif" style="margin: auto;"/>
              <div hidden id="signing-files" style="text-align: center">
                <p><strong>Faça o upload da sua chave privada</strong></p>
                <input type="file" id="private-key" name="filename" style="margin-left: 50px" /><br /><br />
                <p><strong>Faça o upload do seu certificado</strong></p>
                <input type="file" id="certificate" name="filename" style="margin-left: 50px" /><br /><br />
              </div>
              <div class="mint-button pb-5">
                <button id="submitButton" type="submit" style="display: flex" class="btn btn-primary btn-md">Solicitar NFT</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
