<!-- Signup Page -->
<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include("partials/head") %>

  <body>

    <!-- Navbar -->
    <%- include("partials/navbar") %>

      <!-- Signup Section -->
      <section id="login">

        <div class="container-fluid">
          <div class="register-form card shadow">

            <form action="/presignup" method="POST" class="validated-form" novalidate>
              <div class="row">

                <div class="data-col col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                  <h2 class="login-header">Venha ser parte da Carbon!</h2>

                  <div class="row login-data">
                    <div class="row-md-6 row-lg-6 form-group">
                      <input type="text" name="username" id="username" class="form-control" placeholder="Email" required />
                    </div>
                  </div>

                  <div class="login-button mt-4">
                    <button type="submit" class="btn btn-primary btn-lg">Avançar</button>
                  </div>

                  <p class="mb-5 pb-lg-2">Já tem uma conta? <a href="/login">Entrar</a></p>

                </div>

                <div class="col-md-10 col-lg-6 col-xl-7 order-1 order-lg-2 carbon-logo-container">
                  <img src="../images/carbono21.webp" class="img-fluid carbon-logo" alt="Carbono 21 logo">
                </div>


              </div>
            </form>

          </div>
        </div>

        <script src="/scripts/validateForms.js"></script>

  </body>

</html>
