<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include("partials/head") %>

  <body>
    <!-- Navbar -->

    <%- include("partials/navbar") %>

    <section id="transfer">
      
        <h1 class="transfer-header">Transferência</h1>

        <div class="container-fuid transfer-container">
        
        <div class="card shadow-lg">
          <div class="card-body">
            <div class="justify-content-between p-md-1">
              
              <form action="" method="POST" class="validated-form" onsubmit="transfer()">

                <div class="flex-fill">
                  <div class="transfer-data">
                    <i class="fas fa-user fa-lg"></i>
                    <input type="text" name="usernameDest" id="usernameDest" class="form-control" required/>
                  </div>
                  <label class="form-label" for="usernameDest">Insira o username de destino</label>
                </div>

                <hr />

                <div class="flex-fill">
                  <div class="transfer-data">
                    <i class="fas fa-coins fa-lg"></i>
                    <input type="text" name="tokenId" id="tokenId" value="$ylvas" class="form-control" required />
                  </div>
                  <!-- NOTE: TokenId é para tranferir nfts? E para fts é fixo em "$ylvas"? -->
                  <label class="form-label" for="tokenId">Insira o token Id (*altere caso NFT)</label>
                </div>

                <hr />

                <div class="flex-fill">
                  <div class="transfer-data">
                    <i class="fas fa-coins fa-lg"></i>
                    <input type="text" name="qty" id="qty" class="form-control" required />
                  </div>
                  <label class="form-label" for="qty">Insira a quantidade a ser transferida</label>
                </div>

                <hr />
                                
                <div class="flex-fill">
                  <div class="transfer-data">
                    <i class="fas fa-receipt fa-lg"></i>
                    <select name="nftType" id="nftType" class="form-control" required>
                      <option value="NFTTerra">NFT de Terra</option>
                      <option value="NFTComp">NFT Direito de Compensação</option>
                    </select>
                  </div>
                  <label class="form-label" for="qty">Insira o tipo do NFT a ser transferido</label>
                </div>

                <!-- <script type="text/javascript">
                  function buttonPressed() {
                  // Request
                  sendRequest("TransferFrom");
                  // Alterna visibilidade de botao e gif de carregamento
                  document.getElementById("loader").style.display = "flex";
                  document.getElementById("submitButton").style.display = "none";
                  }
                </script> -->

                <div class="transfer-button">
                    <img id="loader" class="loading-icon" src="../images/loader.gif" />
                    <button id="submitButton" type="submit" class="btn btn-primary btn-md">Transferir</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <script src="/scripts/transfer.js"></script>

  </body>

</html>
