body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #ADCF9F
}

hr{
  margin: 40px 0;
}


/* Navbar */

.navbar{
  padding: 5px 20px ;
  background-color: #fff;
}

nav .navbar-nav li a:hover{
  color: #00C897;
}

.navbar-brand{

  font-weight: 500;
  font-size: 2rem;
}

.navbar-brand .carbon21-logo{
  height: 70px;
  border-radius: 30%;
  margin: 0 30px 0 20px;
}

.nav-item{
  font-weight: 300;
  margin: 0 4px;
}

/* config form */

.config-card{
  border-radius:30px;
  width: 50%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 5% 5%;
}

.header-container{
  text-align: left;
}

.config-header{
}

.config-button-container{
  margin-top: 50px;
  text-align: center;
}

.config-button-container button{
  width: 25%;
}
