<!-- Home Page -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include("partials/head") %>
  <script src="/scripts/transparency-bundle.js"></script>

  <!-- <body id="top" onload="getWorldState();getBlockchainTail();getLatestIPFSBlock();"> -->
  <body id="top" onload="getWorldState();calculateFileHashAuto();checkBlockchainAuto()">

    <section id="intro"><%- include("partials/navbar") %></section>

    <section id="features">
      <div class="container-fluid mt-5">
        <!-- Page Title -->
        <h1 class="features-header">Transparency portal</h1>

        <h4>Automatic audit tool</h4>
        <div class="mt-3"><strong>Smart contract:</strong></div>
        <div id="autoCC"></div>

        <div class="mt-3"><strong>Blocks:</strong></div>
        <div id="autoBlocks"></div>

        <h4 class="mt-5">Manual audit tools</h4>

        <div class="accordion" id="accordionExample">
          <!-- Accordion's collapsable 1 -->
          <div class="accordion-item">
            <!-- Title -->
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">World state</button>
            </h2>

            <!-- Content -->
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <spam class="description">Using the World State, it is possible to reconstruct the balance of each wallet on another network</spam>
                <div class="mt-3">
                  <div id="ws"></div>
                </div>
              </div>
            </div>
          </div>

          <!-- Accordion's collapsable 2 -->
          <div class="accordion-item">
            <!-- Title -->
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Blocks
              </button>
            </h2>

            <!-- Content -->
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <!-- <spam class="description">Tail. This is currently the last block. You can send it to the IPFS.</spam> -->
                <spam class="description"
                  >Request a given block. You can use it to check transactions hashes (including smart contract deployments) and corresponding signatures, for instance.
                  <br /><br />Enter numbers or the keywords 'beginning' or 'end'.
                </spam>

                <div class="input-group mt-3 mb-3">
                  <input id="blockNumber" type="text" class="form-control mr-3 w-25" placeholder="Block number or keyword" />
                  <button class="btn btn-primary w-25" style="background-color: #1fac1f; border-color: #d1e7dd" type="button" onclick="getBlockByNumber()">Request</button>
                </div>
                <div class="mt-3">
                  <span><strong>Block number: </strong> </span>
                  <span id="number"></span><br />
                  <span><strong>Date: </strong> </span>
                  <span id="blockTimestamp"></span><br />
                  <!-- <span><strong>Block hash: </strong> </span>
                  <span id="tailHash"></span><br /> -->
                  <!-- <span><strong>Previous block: </strong> </span>
                  <span id="tailPreviousHash"></span><br /> -->
                  <details>
                    <summary><strong>JSON</strong></summary>
                    <pre><code class="content" id="blockJson"></code></pre>
                  </details>
                </div>
              </div>
            </div>
          </div>

          <!-- Accordion's collapsable 3 -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
                IPFS
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p class="description">
                  Ideally the content is published on IPFS periodically.
                  To make this proof of concept more intuitive, click the button below to do so.
                </p>

                <div class="mt-3">
                  <button class="btn btn-primary" id="postIpfsLogBtn" onclick="postTransparencyLog()">
                    Publish current blockchain state to IPFS
                  </button>
                  <div id="ipfsPublicationStatus" class="mt-3"></div>
                </div>

                <br/><br/><p class="description">
                  Get some CID
                </p>
                <div class="input-group mt-3 mb-3">
                  <input id="cid" type="text" class="form-control mr-3 w-25" placeholder="CID" />
                  <button class="btn btn-primary w-25" style="background-color: #1fac1f; border-color: #d1e7dd" type="button" onclick="getCidContent()">Request</button>
                </div>
                <div id="getCid" class="mt-3"></div>
                

                <br/><br/><p class="description">
                  bafzaajaiaejca3hgs6skjaabaoy722sqoiadxmvqqekrzdaeioxjnl67qigowi43
                </p>
                <div class="mt-3">
                  <button class="btn btn-primary" id="postIpfsLogBtn" onclick="getIpnsContent()">
                    Get the CID linked to the IPNS address
                    <!-- talvez seja 12D3KooWH9U8urNbXLR73AFqVLc1MfiYrkMwF6GDYjYkmwb3zZBG na verdade -->
                  </button>
                  <div id="ipnsGet" class="mt-3"></div>
                </div>

              </div>
            </div>
          </div>

          

          <!-- Accordion's collapsable 6 -->
          <div class="accordion-item">
            <!-- Title -->
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Hash chain verification
              </button>
            </h2>

            <!-- Content -->
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <spam class="description"
                  >Request from the network a specific sequence of blocks, each containing the hash of the previous block. Your computer will then calculate the hashes of the received blocks and verify whether they match the hashes sent by the blockchain network.
                  <br /><br />Enter numbers or the keywords 'beginning' and 'end'.
                </spam>

                <div class="input-group mt-3 mb-3">
                  <input id="min" type="text" class="form-control mr-3 w-25" placeholder="First block" />
                  <input id="max" type="text" class="form-control mx-3 w-25" placeholder="Last block" />
                  <button class="btn btn-primary w-25" style="background-color: #1fac1f; border-color: #d1e7dd" type="button" onclick="checkBlockchain()">Request</button>
                </div>

                <div class="mt-4">
                  <div id="blockchainChecking"></div>
                </div>
              </div>
            </div>
          </div>

          <!-- Accordion's collapsable 5 -->
          <div class="accordion-item">
            <!-- Title -->
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                aria-expanded="false" aria-controls="collapseFive">
                Smart contract verification
              </button>
            </h2>
            <!-- Content -->
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <spam class="description">Our smart contract is open source and available at
                  <a href="https://github.com/Carbon-21/fabric-transparency/blob/main/chaincode/chaincode.tgz">Github</a>. You may download it
                  and verify if its hash corresponds to the one alleged on the blockchain.</spam>

                <div class="mt-3">
                  <div class="input-group mb-3">
                    <input type="file" class="form-control" id="contractFile" aria-describedby="fileHelp">
                    <button class="btn btn-primary" style="background-color: #1fac1f; border-color: #d1e7dd" type="button"
                      id="calculateHashBtn" onclick="calculateFileHash()">Calculate Hash</button>
                  </div>
                  <div id="hashResult" class="mt-3"></div>
                </div>
              </div>
            </div>

        </div>
      </div>
    </section>

    <!-- <img id="loader" class="loading-icon" src="../images/loader.gif" style="margin: auto; width: 3%" /> -->
  </body>
</html>
